@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    text-decoration: none;
    list-style: none;
}

body{
    background: #201b2c;
    overflow: hidden;
}

.header{
    position: fixed;
    width: 100%;
    padding: 40px 60px;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
}
.logo:hover{
    color: #73edae;
}

.navigation ul{
    display: flex;
    align-items: center;
    gap: 60px;
}

.navigation ul li a{
    color: #fff;
    font-size: 18pt;
    transition: all .1s ease;
}

.navigation ul li a:hover{
    border-bottom: 3px solid #73edae;
    color: #73edae;
}

.main{
    overflow: hidden;
}

.section{
    padding: 8rem;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left p{
    font-size: 2.2rem;
    color: #fff;
    margin-bottom: 10px;
    text-decoration: underline;
}

.left h4{
    font-size: 30pt;
    color: #73edae;
    margin-bottom: 3rem;
}

.right{
    width: 45%;
    height: 45%;
    margin-bottom: 250px;
}
